.filterWrapper {
  width: 30%;
  height: 200px;
  margin-top: 20px;
}

.brandsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.brandsHeader h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}

.brandsHeader img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.brandItem div {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}

.brandItem img {
  width: 24px;
  height: 24px;
}

.brandItem input {
  width: 30px;
  border-radius: 14px;
}

.brandItem p {
  font-weight: 350;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
  margin-left: 20px;
}
