.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cont {
  max-width: 1200px;
  width: 96%;
  display: flex;
}

.branchBanner {
  margin-top: 40px;
  width: 100%;
  height: auto;
  border-radius: 14px;
  cursor: pointer;
}
