.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.mainCont {
  max-width: 1200px;
  width: 96%;
  margin-top: 40px;
}

.cartMainCont {
  display: flex;
  justify-content: space-between;
}

.cartHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.8);
}

.cartHeading h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.cartHeading a {
  display: none;
}

.cartHeading h4 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  align-items: center;
}

.totalCont {
  width: 410px;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.allPrices {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.allPrices h4 {
  display: flex;
  justify-content: space-between;
}

.title {
  color: rgba(66, 66, 66, 0.8);
}

.totalPrice {
  margin-top: 1px;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.totalPrice h4 {
  display: flex;
  justify-content: space-between;
}

.total {
  color: #ed6e40;
}

.totalCont button {
  width: 100%;
  padding: 14px 0;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ed6e40;
  font-weight: 600;
  cursor: pointer;
}

.emptyBag {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.respTotalPrice {
  display: none;
}

@media screen and (max-width: 1023px) {
  .cartHeading h2 {
    display: none;
  }

  .cartHeading a {
    display: inline;
    color: #000;
    font-weight: 600;
  }

  .totalCont {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .allPrices {
    display: none;
  }

  .totalPrice {
    display: none;
  }

  .respTotalPrice {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #f2f2f2;
  }

  .respTotalPrice div {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .respTotalPrice button {
    width: 150px;
    padding: 22px 0;
  }

  .respTotalPrice h4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .respTotal {
    color: #000;
    font-size: 22px;
  }
}
