.mobileItem {
    max-width: 200px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 16px;
}

.imageCont {
    width: 100px;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.mobileItem h4 span {
    color: #ec5e2a;
}

.prevPrice {
    color: #9b9b9b !important;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 10px;
}

.cartButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cartButtons button {
    display: flex;
    align-items: center;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
}

.addToCart {
    background-color: #f28f6a !important;
}

.cartButtons span {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.cartButtons img {
    width: 16px;
    height: 16px;
}

.giftIcon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.giftIcon div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: rgb(255, 160, 36);
    padding: 5px;
    border-radius: 50%;
    margin-left: 8px;
}

.giftIcon img {
    width: 16px;
    height: 16px;
}