* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  position: fixed;
}
::-webkit-scrollbar-thumb {
  background-color: #e49f86;
  border-radius: 20px;
  position: fixed;
}

.nextjs-static-indicator-toast-icon {
  display: none;
}