.cartItem {
  width: 90%;
  background-color: rgb(236, 236, 236);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
}

.cartItem img {
  border-radius: 10px;
}

.cartItemCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 100%;
  margin-left: 20px;
}

.description h3 {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ec5e2a;
}

.prevPrice {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through #ec5e2a;
  margin-left: 10px;
}

.trashIcom {
  padding: 6px;
  transition: 0.3s;
  border-radius: 50%;

}

.trashIcom:hover{
  background-color: #e0e0e0;
}

.qtyCont {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.qtyCont svg {
  margin-bottom: 8px;
  margin-left: 16px;
  color: rgb(94, 94, 94);
  cursor: pointer;
}

.changeQty {
  margin-bottom: 10px;
  background-color: #ec5e2a;
  padding: 4px;
  border-radius: 16px;
  display: flex;
}

.changeQty button {
  background-color: #ec5e2a;
  border: none;
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 10px;
}

.changeQty span {
  padding: 0 12px;
  color: #fff;
}

.operation {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .cartItem {
    width: 100%;
  }
}
